@model IEnumerable<MovieLibrary.Models.Movies.Movie>
@if (Model is not null && Model.Count() is not 0)
{
    @foreach (var movie in Model)
    {
        <div class="container">
            <img src="@movie.PosterSource" asp-append-version="true" />
            @movie.Title
            @movie.Category
            @movie.ReleaseDate
            @movie.MinimumAge
        </div>
        <form asp-action="RemoveFavourite" asp-route-movieId="@movie.Id">
            <button type="submit" onclick="return confirm('Are you sure you want to remove this movie from Favourites?')" class="btn btn-danger">
                Remove
            </button>
        </form>
    }
}
else
{
    <h3>Nothing is added to your Favourites!</h3>
}