@using MovieLibrary.Models.Movies
@*@model MovieLibrary.Models.Movies.Movie*@
@using MovieLibrary.ViewModels.MovieViewModels
@model UpdateMovieViewModel
<h1 class="text-info">Update Movie</h1>

<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Update" method="post" role="form" enctype="multipart/form-data">
            <input asp-for="@Model.Movie.Id" hidden />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Title"></label>
                <input asp-for="@Model.Movie.Title" class="form-control" />
                <span asp-validation-for="@Model.Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Budget"></label>
                <input asp-for="@Model.Movie.Budget" class="form-control" />
                <input asp-for="@Model.Movie.Budget" hidden />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.ReleaseDate"></label>
                <input asp-for="@Model.Movie.ReleaseDate" class="form-control" />
                <input asp-for="@Model.Movie.ReleaseDate" hidden />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.MinimumAge"></label>
                <input asp-for="@Model.Movie.MinimumAge" class="form-control" />
                <input asp-for="@Model.Movie.MinimumAge" hidden />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Description"></label>
                <textarea asp-for="@Model.Movie.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Movie.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Category" class="col-md-2"></label>
                <select asp-for="@Model.Movie.Category" class=" form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()">
                    <option disabled selected value="">Choose movie's genre</option>
                </select>
                <span asp-validation-for="@Model.Movie.Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p>The old movie producer is: @Model.Producer.Name</p>
                <label asp-for="@Model.SelectedMovieProducerId"></label>
                <select asp-for="@Model.SelectedMovieProducerId"
                        asp-items="@Model.AllProducers"
                        class="form-control">
                    <option disabled selected>Select new Producer</option>
                </select>
            </div>

            <h6>If you want to select multiple actors or awards all you need to do is click on the first actor you want to add and if want another hold Shift and select another one</h6>

            <link href="~/multiselect/example-styles.css" rel="stylesheet" />
            <div class="container">
                <div class="card">
                    <div class="card-text text-center">
                        <h1>Actors</h1>
                        <p>
                            The old movie actors are :
                            @foreach (var actor in Model.Actors)
                            {
                            <p>@actor.FullName</p>
                            }
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <select id="dropDownList-example" name="SelectedMovieActorsIds"
                                        asp-items="@Model.AllMovieActors"
                                        multiple class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-text text-center">
                        <h1>Awards</h1>
                        <p>The old movie awards are : 
                            @foreach (var award in Model.Awards)
                            {
                                <p>@award.Name</p>
                            }
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <select id="dropDownList-example" name="SelectedMovieAwardsIds"
                                        asp-items="@Model.AllMovieAwards" multiple class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @section Scripts{
                <script src="~/multiselect/jquery.multi-select.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#dropDownList-example').multiSelect();
                    });
                </script>

            }
            @* <div class="form-group">
            <label asp-for="RoleId"></label>
            <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
            <option disabled selected>--Select Role--</option>
            </select>
            </div>*@
            <img src="@Model.Movie.PosterSource" asp-append-version="true" />
            <div>
                <p>Choose a poster for the movie</p>
                <input asp-for="@Model.Movie.PosterFile" type="file" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
                <a asp-action="MovieList" class="btn btn-warning" style="width:auto">Back to movies</a>
            </div>
        </form>
    </div>
</div>